<!-- Account Recipe Cards -->
    <div class="container-fluid" id="recipes">
        <div class="row account-cards">
            <div class="col-lg-4 col-sm-12 small-cards">
              <div class="card">
                  <img src="https://www.seriouseats.com/thmb/IT-Fsrm7zVJWuDpPuUPHo3Y4fNE=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2017__09__20170825-artichokes-ala-romana-vicky-wasik-3-2-1073d669511d4679a251bc77a8bdf44b.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe.dish}}</h5>
                    <p class="card-text">{{recipe.dishDesc}}</p>
                    <span class="bywho">By {{recipe.chef}}</span>
                    <br>
                    <div class="hstack">
                        <a href="/api/recipe/{{recipe.recipe_id}}" class="btn btn-orange mt-3" id="recipe-btn">Recipe</a>            
                        <div class="ms-auto"><i class="fa fa-trash-o" style="font-size:35px;"></i></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 small-cards">
              <div class="card">
                  <img src="https://www.seriouseats.com/thmb/8-ETyfpkS_elFd22z3mX6DuMX4U=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2018__01__20180107-bivalve-recipes-roundup-10-10b5edbb2ee9469ab9ff21a3b2ca6143.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe.dish}}</h5>
                    <p class="card-text">{{recipe.dishDesc}}</p>
                    <span class="bywho">By {{recipe.chef}}</span>
                    <br>
                          <div class="hstack">
                        <a href="/api/recipe/{{recipe.recipe_id}}" class="btn btn-orange mt-3" id="recipe-btn">Recipe</a>            
                        <div class="ms-auto"><i class="fa fa-trash-o" style="font-size:35px;"></i></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 small-cards">
              <div class="card">
                  <img src="https://www.seriouseats.com/thmb/U1Ha0PXbUEcTL8M3wYo-8DrmgFA=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2019__03__20190321-asparagus-miso-bearnaise-vicky-wasik-21-038cd7ef521a4bd087e9a7f77c5932a0.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe.dish}}</h5>
                    <p class="card-text">{{recipe.dishDesc}}</p>
                    <span class="bywho">By {{recipe.chef}}</span>
                    <br>
                          <div class="hstack">
                        <a href="/api/recipe/{{recipe.recipe_id}}" class="btn btn-orange mt-3" id="recipe-btn">Recipe</a>            
                        <div class="ms-auto"><i class="fa fa-trash-o" style="font-size:35px;"></i></div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </div>