<!-- Account Recipe Cards -->
{{#if recipes.length}}
    <div class="container-fluid" id="recipes">
        <div class="row account-cards">
         {{#each recipes as |recipe|}}
            <div class="col-lg-4 col-sm-12 small-cards">
              <div class="card">
                  <img src="{{recipe.dishPic}}" class="card-img-top" alt="{{recipe.dishPic}}">
                  <div class="card-body">
                    <h5 class="card-title">{{recipe.dish}}</h5>
                    <p class="card-text">{{recipe.dishDesc}}</p>
       
                    <br>
                    <div class="hstack">
                        <a href="/api/recipe/{{recipe.id}}" class="btn btn-orange mt-3" id="recipe-btn">Recipe</a>            
                        <div class="ms-auto"><i class="fa fa-trash-o" id="delete" style="font-size:35px;"></i></div>
                    </div>
                </div>
                </div>
            </div>
          {{/each}}
        </div>
    </div>
    {{else}}
        <!-- Account Recipe Cards -->
    <div class="container-fluid empty-text">
        <p class="text-center">Welocme! {{user.name}}It's empty now. Start to create your recipe today!</p>
        <div class="text-center"><img src="https://media4.giphy.com/media/h2HTvVuKVS4daQaVuS/giphy.gif" width="50%" alt="cooking"></div>
    </div>
    {{/if}}
