<!-- a recipe page -->

<div class="container-fluid img-center" id="recipes"> <div class="container-fluid img-center" id="recipes">
      <img class="recipe-image" src="images/artichokes-ala-romana.webp" class="img-fluid" alt="...">
      <div>
        <h3 class="text-orange">{{recipe.dish}}</h3>
        <p class="text-center mt-3">{{recipe.dishDesc}}</p>
      </div>
      <div>
        <h4 class="mt-x">Preparation & Cook Time</h4>
        <p class="text-center mt-3">{{recipe.prepTime}}</p>
      </div>
      <div>
        <h4 class="mt-x">Ingredients</h4>
        <p class="text-left mt-3">{{recipe.ingredients}}</p>
      </div>
      <div>
        <h4 class="mt-x">Directions</h4>
        <table class="table table-border mt-3">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{}}</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>In a small bowl, stir together parsley, mint, oregano, and garlic. Rub concave side of each artichoke heart with herb mixture, packing it into any leafy crevices. Set aside remaining herb mixture.</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Add olive oil and wine to a pot just large enough to hold all the artichokes closely side by side, so that they can sit flat with their stem sides up. Arrange artichokes in pot and season with salt and pepper.</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Bring pot to a simmer over medium-high heat, then lower heat to a bare simmer, cover, and cook until artichokes are fork-tender, 20 to 30 minutes. (Smaller artichokes may not take as long.)Remove from heat and transfer artichokes to a platter, stem sides up. Drizzle with cooking juices, along with some fresh olive oil and a light sprinkling of reserved herb mixture. Serve warm or at room temperature.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4 class="mt-x">Nutrition Facts</h4>
        <p class="text-center mt-3 mb-5">{{recipe.nutrition_facts}}</p>
      </div>
      
    
      
    </div>