<!-- a recipe page -->

<div class="container-fluid img-center" id="recipes"> <div class="container-fluid img-center" id="recipes">
      <img class="recipe-image" src="{{recipe.dishPic}}" class="img-fluid" alt="{{recipe.dish}}">
      <div>
        <h3 class="text-orange">{{recipe.dish}}</h3>
        <p class="text-center mt-3">{{recipe.dishDesc}}</p>
      </div>
      <div>
        <h4 class="mt-x">Preparation & Cooking Time</h4>
        <p class="text-center mt-3">{{recipe.prepTime}}</p>
      </div>
      <div>
        <h4 class="mt-x">Ingredients</h4>
        <p class="text-center mt-3">{{recipe.ingredients}}</p>
      </div>
      <div>
        <h4 class="mt-x">Directions</h4>
        <table class="table table-border mt-3">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{recipe.directions1}}</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>{{recipe.directions2}}</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>{{recipe.directions3}}</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>{{recipe.directions4}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <h4 class="mt-x">Nutrition Facts</h4>
        <p class="text-center mt-3 mb-5">{{recipe.nutrition_facts}}</p>
      </div>
      
    
      
    </div>
